@model TABprojekt.Models.Mecze

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Mecze</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wynikPolowa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wynikPolowa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wynikKoniec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wynikKoniec)
        </dd>
        <dt>
            @Html.ActionLink("Gospodarze", "Details", "Druzyna", new { id = Model.druzyna1.id }, null)
        </dt>
        <dd>
        </dd>
        <dt>
            @Html.ActionLink("Goście", "Details", "Druzyna", new { id = Model.druzyna2.id }, null)
        </dt>
        <dd>
        </dd>
        <dt>
            @Html.ActionLink("Stadion", "Details", "Stadion", new { id = Model.stadion.id }, null)
        </dt>
        <dd>
        </dd>
        <dt>
            @Html.ActionLink("Sedziowie", "Mecze_Sedzia", "Sedzia", new { id = Model.id }, null)
        </dt>
        <dd>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
