@model TABprojekt.Models.Kontuzje

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Kontuzje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rodzaj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rodzaj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_od)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_od)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_do)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_do)
        </dd>
        <dt>
            @Html.ActionLink("Zawodnik", "Details", "Zawodnik", new { id = Model.zawodnik.id }, null)
        </dt>
        <dd>
            @Html.DisplayName(Model.zawodnik.imie + " " + Model.zawodnik.nazwisko)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
